name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        java-version: '11'
    - run: chmod +x gradlew
    - run: ./gradlew assembleDebug
    - uses: actions/upload-artifact@v4
      with:
        name: DCA-App
        path: app/build/outputs/apk/debug/app-debug.apk